* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
}
.card {
  width: 250px;
  margin: auto;
  background-color: #fff;
}
.cardimg {
  text-align: center;
  margin: auto;
}
.img {
  width: 150px;
  height: 150px;
}
